
body {
background-color:#a1e86a;
}
il {
color:black
background-color:#006801;
width: 600px;
margin:0 auto;
}
section{
  background-color:#006801;

width: 600px;
margin:0 auto;
}
h1{
  background-color: black;
  color: white;
  margin-top:0px;

}
h2{
  background-color:black;
  color:white;
}
h3{
    background-color:black;
    color:white;
}
